.hidden {
  display: none;
}
.formContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  margin: 10px auto 0 auto;
  width: 60%;
  padding: 10px 20px;

  background-color: white;

  &--green {
    border: 2px solid green;
  }
  &--red {
    border: 2px solid red;
  }
}

.form {
  background-color: #fff;
  width: 50%;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  &__label {
    margin-bottom: 10px;
  }
  &__input {
    width: 70%;
    height: 30px;
    margin-left: 10px;
  }

  &__select {
    margin-left: 10px;
    width: 50%;
    height: 30px;
  }
}
