<table class="statistics">
  <thead class="statistics__thead thead">
    <tr class="statistics__tr">
      <th class="logo"></th>
      <th class="statistics__th">Category</th>
      <th class="statistics__th">Active</th>
      <th class="statistics__th">Archived</th>
    </tr>
  </thead>

  <tbody class="statistics__tbody"></tbody>

  <template class="table-template" id="category-template">
    <tr class="table-template__tr">
      <td class="logo"></td>
      <td class="table-template__td category"></td>
      <td class="table-template__td active-count"></td>
      <td class="table-template__td archive-count"></td>
    </tr>
  </template>
</table>
